.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 15px;
}

.grid-item {
  display: flex;
  flex-direction: column;
}

.app-grid-layout-item {
  flex: 1;
}