<div class="bg-light p-2 primary-bottom-border">
    <div class="d-flex flex-row">
        <span class="page-title p-3 primary-text-color">BookStore</span>

        <button routerLink="/product-search" mat-icon-button color="primary" aria-label="Example icon button with a search icon">
            <mat-icon>home</mat-icon>
        </button>

        <button routerLink="/product-creation" mat-icon-button color="primary" aria-label="Example icon button with a home icon">
            <mat-icon>add</mat-icon>
        </button>
    </div>
</div>

<router-outlet></router-outlet>
